body {
  background-color: #fff;
  max-width: 720px;
  overflow: visible;
  padding-left: 2em;
  padding-right: 2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.65;
  text-align: justify;
  text-justify: inter-word;
  margin: 2em auto;
}

#header {
  text-align: center;
}

#TOC {
  clear: both;
  margin: 0 0 10px 10px;
  padding: 4px;
  width: 400px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;

  background-color: #f6f6f6;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}
#TOC .toctitle {
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;
}

#TOC ul {
  padding-left: 40px;
  margin-left: -1.5em;
  margin-top: 5px;
  margin-bottom: 5px;
}
#TOC ul ul {
  margin-left: -2em;
}
#TOC li {
  line-height: 16px;
}

p {
  margin: 0.6em 0;
}

blockquote {
  border-left:3px dotted #e5e5e5;
  background-color: #fff;
  padding: 0 1em;
  margin: 0.9em 0;
}


hr {
  border-style: solid;
  border: none;
  border-top: 1px solid #777;
  margin: 28px 0;
}

dl {
  margin-left: 0;
}
dl dd {
  margin-bottom: 13px;
  margin-left: 13px;
}
dl dt {
  font-weight: bold;
}

ul, ol {
  text-align: left;
}
ul {
  margin-top: 0;
}
ul li {
  list-style: circle outside;
}
ul ul {
  margin-bottom: 0;
}

pre, code {
  background-color: #f7f7f7;
  line-height: 1.2;
  border-radius: 3px;
  color: #333;
  padding: 0px;
  white-space: pre;  /* or: pre-wrap */
  overflow-x: auto;
}
pre {
  border-radius: 3px;
  margin: 5px 0px 10px 0px;
  padding: 10px;
}

code {
  font-family: Consolas, monospace;
  font-size: 85%;
}
p > code, li > code {
  padding: 2px 2px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

h2 {
  color: #191919;
  font-size: 1.5em;
  font-weight: 600;
}

h3, h4, h5 {
  color: #292929;
  font-weight: 600;
}

/* Reference list */
h6 {
  color:#191919;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  }
h6 ~ p {
  text-align: left;
}

a {
  color: #777;
  text-decoration: none;
}
a:hover {
  color: #aaa;
  text-decoration: underline;
}
/*
a:visited {
  color: #777;
}
a:visited:hover {
  color: #aaa;
  text-decoration: underline;
}
*/

/* tables */

table, table th, table td {
  border-left-style: none;
  border-right-style: none;
}

table {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  padding:5px 10px;
  border: 1px solid #b2b2b2;
}

td {
  padding:5px 10px;
  border: 1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:500;
}

th {
  color:#444;
}
table thead, table tr.even {
  background-color: #f7f7f7;
}

/* images */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:100%;
}
div.figure {
  text-align: center;
}

/* hovering behavior for images (e.g., play/pause GIFs) */

.gif_play, #gif:hover .gif_stop{
   display:none
}
.gif_stop, #gif:hover .gif_play{
   display:block
}

/* code highlighting */

pre code { color: #707070; } /* General Code w/o Class */
pre code.r { color: #333333; } /* General Code */
code span.kw { color: #558200; font-weight: normal; } /* Keyword */
code span.co { color: #707070; font-style: normal; } /* Comment */
code span.dt { color: #333333; } /* Data Type */
code span.fu { color: #558200; } /* Function calls */ 
code span.dv { color: #007878; } /* Decimal Values */
code span.bn { color: #007878; } /* Base N */
code span.fl { color: #007878; } /* Float */
code span.ch { color: #985b00; } /* Character */
code span.st { color: #985b00; } /* String */
code span.ot { color: #007878; } /* Other Token */
code span.al { color: #a61717; font-weight: bold; } /* Alert Token */
code span.er { color: #a61717; background-color: #e3d2d2; } /* Error Token */

